{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AEON</title>
    <!-- goggle fonts ends here -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />


    <link rel="stylesheet" href="{% static 'css/home1.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Adjust as needed */
  }
  
  /* Additional styling to prevent flickering */
  .dropdown-menu {
    margin-top: 0; /* Ensures the dropdown menu stays aligned */
    transition: all 0.2s ease-in-out;
  }
  /* Remove dropdown arrow */
  .navbar .dropdown-toggle::after {
    display: none;
  }


  .carousel-item::before {

    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity */
  
  }
  /* .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #fff;
    padding: 15px;
  } */
    </style>
  </head>
  <body>
    <div id="preloader">
      <img src="{% static 'img/gif-dribbb.gif' %}" alt="Loading..." />
    </div>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container cont">
          <a class="navbar-brand" href="/"
            ><img src="{% static 'img/final0306242.png' %}" class="img-fluid"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about/">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Programme
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/internship1/">Training & Interships</a>
                  </li>
                  <li><a class="dropdown-item" href="/workshops/">Workshop</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Service
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/publication/">Publication</a></li>
                  <li><a class="dropdown-item" href="#">Study Abroad</a></li>
                  <li><a class="dropdown-item" href="/manuscript/">Manuscripts</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/contactus/">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- the header ends here -->

    <div
      id="carouselExampleCaptions"
      class="carousel slide mb-5"
      data-bs-ride="carousel"
      data-bs-interval="4000"
    >
      <div class="carousel-inner">
        <div class="carousel-item car-item active">
          <div class="carousel-caption d-block">
            <h5>Cancer Research and Bioinformatics with AI/ML Excellence</h5>
            <p>
              " Harmonizing Advanced Technology and Biological Insight - Explore
              the Future of Cancer Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Cum impedit perferendis iusto provident sint"
              
            </p>
          </div>
          <img src="{% static 'img/car2.jpg' %}" class="d-block w-100" alt="First slide" />
        </div>
        <div class="carousel-item car-item">
          <div class="carousel-caption d-block">
            <h5>Cancer Research and Bioinformatics with AI/ML Excellence</h5>
            <p>" Harmonizing Advanced Technology and Biological Insight - Explore
              the Future of Cancer Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Cum impedit perferendis iusto provident sint"</p>
          </div>
          <img src="{% static 'img/car3.jpg' %}" class="d-block w-100" alt="Second slide" />
        </div>
        <div class="carousel-item car-item">
          <div class="carousel-caption d-block">
            <h5>Cancer Research and Bioinformatics with AI/ML Excellence</h5>
            <p>" Harmonizing Advanced Technology and Biological Insight - Explore
              the Future of Cancer Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Cum impedit perferendis iusto provident sint"</p>
          </div>
          <img src="{% static 'img/car4.jpg' %}" class="d-block w-100" alt="Third slide" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- the slideshow is end here -->

    <!-- <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active"></div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->

    <br>

    <!--  service card -->
    <div class="head align-text-center">
      <h2>SERVICES</h2>
      <div class="line"></div>
    </div>

    <div class="container my-3">
      <div class="row my-3">
        <div class="col-md-6 col-sm-12 my-2 revealleft">
          <div class="card card-outline">
            <img src="{% static 'img/carousel1.jpg' %}" class="card-img-top" alt="" />
            <div class="card-body body-outline">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-outline-primary readmore-btn"
                >Go somewhere</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 my-2">
          <div class="card card-outline revealright">
            <img src="{% static 'img/carousel1.jpg' %}" class="card-img-top" alt="" />
            <div class="card-body body-outline">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-outline-primary readmore-btn"
                >Go somewhere</a
              >
            </div>
          </div>
        </div>
      </div>

    </div>

    <br><br>

    <!-- programme card -->
    <div class="head align-text-center">
      <h2>PROGRAMME</h2>
      <div class="line"></div>
    </div>

    <div class="container">
      <div class="row my-2">
        <div class="col-md-6 col-sm-12 my-2">
          <div class="card card-outline  revealleft">
            <img src="{% static 'img/work.webp' %}" class="card-img-top" alt="" />
            <div class="card-body body-outline">
              <h5 class="card-title">WORKSHOP</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-outline-primary readmore-btn"
                >Go somewhere</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 my-2">
          <div class="card card-outline revealright">
            <img src="{% static 'img/training.webp' %}" class="card-img-top" alt="" />
            <div class="card-body body-outline">
              <h5 class="card-title">TRAINING AND INTERNSHIP</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-outline-primary readmore-btn"
                >Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <!-- Testimonial Section -->

    <div class="container testimonial-container my-5">
      <div class="head align-text-center">
        <h2>Testimonial</h2>
        <div class="line"></div>
      </div>
      <div class="row">
        <!-- Testimonial 1 -->
        <div class="col-md-4 col-sm-12 my-2">
          <div class="card  reveal zoom-in">
            <div class="card-body">
              <div class="card-text">
                "Sana Life Care has completely transformed my health. The
                products are fantastic!"
              </div>
              <div class="card-title">-Surendar</div>
            </div>
          </div>
        </div>

        <!-- Testimonial 2 -->
        <div class="col-md-4 col-sm-12 my-2">
          <div class="card reveal zoom-in">
            <div class="card-body">
              <div class="card-text">
                "Sana Life Care has completely transformed my health. The
                products are fantastic!"
              </div>
              <div class="card-title">-Surendar</div>
            </div>
          </div>
        </div>

        <!-- Testimonial 3 -->
        <div class="col-md-4 col-sm-12 my-2">
          <div class="card reveal zoom-in">
            <div class="card-body">
              <div class="card-text">
                "Sana Life Care has completely transformed my health. The
                products are fantastic!"
              </div>
              <div class="card-title">-Surendar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
<hr>

    <div class="container content-container ">
      <div class="row row-container revealright">
        <div class="h3">Authoring your research paper into a publishable manuscript.</div>
        <div class="list-unstyled">
          <li>
            The Publishing process can be a daunting task. At Pubrica, we translate your research writing into a publishable manuscript. We guide you through the entire life cycle of your publication, including identifying the most suitable journal, executing the peer review, manuscript editing, statistical review and provide post-submission support.</li>
            <ul>
              <li>Our team is made up of 400+ professionals and editors in Science, Technology, and Management (STEM), and we offer end-to-end support.Our experts will work with you to improve your manuscript and the scope of our work would encompass journal selection to citation booster and everything in between.</li>
              <li>We provide assistance in publishing your manuscript in peer-reviewed journals through several value-added Publication Support Services.</li>
              <li>We ensure your manuscript content is succinct, structured, and cohesive, by following the International Committee of Medical Journal Editors, ICMJE guidelines.</li>
              <li>We select, review, prepare, submit your manuscript, and respond to editorial comments.</li>
            </ul>
        </div>
      </div>
    </div>
<hr>
    <!-- about us -->
    <div class="container about-container my-5">
      <div class="row g-0 align-items-center">
        <div class="col-md-4 col-sm-12">
          <img src="{% static 'img/aboutus/aboutus.webp' %}" class="img-fluid rounded revealleft" alt="..." style="width: 20rem;">
        </div>
        <div class="col-md-8 col-sm-12 card" style="border: none;">
          <div class="card-body ms-3 revealright">
            <h5 class="card-title h3">About Us</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, fugit quaerat debitis quasi saepe corporis quos nulla laudantium similique sequi possimus pariatur commodi, exercitationem mollitia autem aut reiciendis sapiente adipisci.</p>
            <a href="#" class="btn btn-outline-primary readmore-btn">Go somewhere</a>
          </div>
        </div>
      </div>
    <!-- </div>   -->
  </div>


  <!-- footer  -->

  <footer>
    <div class="container py-5">
    <div class="row">
      <!-- contact infor column -->
      <div class="col-md-4 col-sm-12">
        <div class="row h3"><div class="col">CONTACT INFORMATION</div></div>
        <div class="row"><div class="col"><em>ArrayGen Technologies Pvt. Ltd. VTP Trade Park , Second Floor , Office No.237, Above KFC,Near Undri Chowk, Katraj-Hadapsar Bypass Road,Undri, Pune - 411060 , Maharashtra (India).</em></div></div>
        <div class="row"> <div class="col"><strong>Skype</strong>:arraygen</div></div>
        <div class="row"> <div class="col"><strong>Tel-No</strong>:+91-020-67026274</div></div>
        <div class="row"> <div class="col"><strong>E-Mail</strong>:info@arraygen.com</div></div>
      </div>

      <div class="col-md-3 offset-0 col-sm-12">
        
        <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="/about/" class="nav-link p-0 text-body-secondary">About Us</a></li>
            <li class="nav-item mb-2"><a href="/internship1/" class="nav-link p-0 text-body-secondary">Training & Intership</a></li>
            <li class="nav-item mb-2"><a href="/workshops/" class="nav-link p-0 text-body-secondary">Workshop</a></li>
            <li class="nav-item mb-2"><a href="/publication/" class="nav-link p-0 text-body-secondary">Publication</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">study Abroad</a></li>
            <li class="nav-item mb-2"><a href="/manuscript/" class="nav-link p-0 text-body-secondary">Manuscripts</a></li>
            <li class="nav-item mb-2"><a href="/contactus/" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
          </ul>
    
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2024 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><i class="bi bi-twitter-x"></i></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><i class="bi bi-instagram"></i></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><i class="bi bi-facebook"></i></svg></a></li>
      </ul>
    </div>
  </div>
  </footer>


  
    <script>
      window.addEventListener("load", function () {
        const preloader = document.getElementById("preloader");
        const content = document.getElementById("content");

        setTimeout(function () {
          preloader.style.display = "none";
          content.style.display = "block";
        },1500); // 3000 milliseconds = 3 seconds
      });




      // scroll animation js
      ScrollReveal().reveal('.revealbottom', { 
    duration: 2500,
    distance: '50px',
    origin: 'bottom',
    reset: true
    });

    ScrollReveal().reveal('.revealleft', { 
    duration: 2500,
    distance: '50px',
    origin: 'left',
    reset: true
    });

    ScrollReveal().reveal('.revealright', { 
    duration: 2500,
    distance: '50px',
    origin: 'right',
    reset: true
    });

    ScrollReveal().reveal('.zoom-in', {
    duration: 2500,
    scale: 0.85,
    reset: true
  });

  ScrollReveal().reveal('.revealbottom', {
    duration: 2500,
    distance:'50px',
    origin:'bottom',
    reset: true
  });
    </script>
  </body>
</html>
